[Unit]
Description=TaskIq schduler autowork bot
Requires=redis.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/autowork_bot/
ExecStart=bash -c "/root/autowork_bot/venv/bin/python -m taskiq scheduler src.infrastructure.worker.scheduler:scheduler src.infrastructure.worker.cron"
Restart=always

[Install]
WantedBy=installer.target
