[Unit]
Description=TaskIq worker for autowork bot
Requires=redis.service
Requires=postgresql.service

[Service]
User=root
Type=simple
WorkingDirectory=/root/autowork_bot/
ExecStart=bash -c "venv/bin/python -m taskiq worker src.infrastructure.scheduler.broker:broker src.infrastructure.scheduler.on_event src.infrastructure.scheduler.cron --worker 1"
Restart=always

[Install]
WantedBy=multi-user.target
